* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: auto;
}

body {
    background-color: #ebebeb;
}

article {
    margin: 5px 0px 5px 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

header {
    background-color: #EAC926;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 45%;
}

.searchBar {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar input {
    width: 90%;
}

.fraseCuotas {
    text-align: center;
    margin: 0.5rem;
    width: 100%;
}

nav {
    width: 100%;
    display: none;
    margin: 1rem 0px 0.5rem;
}

.loginbar {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style: none;
}

.burger-menu {
    margin: 0.75rem auto;
    text-align: center;
    width: 100%;
}

.burger-menu i {
    background-color: #1259c3;
    color: #ebebeb;
    padding: 0.75rem;
    margin: auto;
    border-radius: 0.6rem;
    font-size: 1.5rem;
}

.banner {
    width: 100vw;
}

main section {
    display: flex;
    flex-direction: column;
}

main section .listaProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background-color: #ebebeb;
    margin: 10px 0px;
}

.datosProducto {
    background-color: #fff;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}

.precio {
    font-size: 18px;
    text-align: start;
    width: 30%;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    text-align: center;
}

.descripcion {
    margin-top: 2rem;
    font-size: 16px;
    color: #666;
    display: none;
}

main section article i {
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

footer {
    background-color: #fff;
    color: #666;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer section {
    text-align: center;
    margin: 2rem 0px;
    width: 100%;
}

footer .icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

footer h4 {
    font-weight: bold;
    margin-block: 0;
    margin-inline: 0;
}

footer section .cuerpo {
    margin-left: 15%;
    margin-right: 15%;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

.cuerpo {
    font-size: 12px;
}

.titular {
    font-size: 24px;
    color: #666;
}

@media (min-width: 361px) {
    .burger-menu {
        display: none;
    }

    .logo {
        width: 30%;
    }

    .searchBar {
        width: 30%;
    }

    .fraseCuotas {
        width: 30%;
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .descripcion {
        display: block;
    }

    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }
}

@media (min-width: 769px) {
    .producto {
        width: 24%;
    }

    footer section{
        width: 30%;
    }
}